## Data collection and imputation

In [61]:
%load_ext autoreload
%autoreload 2

In [46]:
import pandas as pd

In [10]:
df = pd.read_excel('2022-offense.xlsx', sheet_name='Offense_Prior_Actuals', header=3)

# Drop columns that we don't need
drop_columns = ['GS', 'Bye', 'Notes', 'Rank', 'Y! Roto', 'Δ', 'Y! Old', 'Std', 'Δ.1', 'Std Old', 'PPR', 'Δ.2', 'PPR Old', '% Own', 'Fan Pts', 'PPG']
df = df.drop(drop_columns, axis=1)

# Change names of duplicate columns
updated_columns = {'Yds': 'Passing_Yds', 'Yds.1': 'Rushing_Yds', 'Yds.2': 'Receiving_Yds', 'Yds.3': 'Return_Yds', 
                   'TD': 'Passing_Td', 'TD.1': 'Rushing_Td', 'TD.2': 'Receiving_Td', 'TD.3': 'Return_Td', 
                   '1st': 'Passing_1st', '1st.1': 'Rushing_1st', '1st.2': 'Receiving_1st'}
df = df.rename(columns=updated_columns)

Offense_Prior_Actuals
Offense_Proj

/Users/ethancoomber/opt/anaconda3/envs/ml-0451/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_contracts = pd.read_html('https://www.spotrac.com/nfl/contracts/sort-value/offense/limit-300/')

In [40]:
player_contracts = table_contracts[0]
player_contracts

,Rank,Player,Signed Age,Yrs,Value,AAV,Sign Bonus,G'teed @ Sign,Practical G'teed
0,1,Patrick Mahomes Quarterback | 2020-2031 (FA: ...,24,10,"$450,000,000","$45,000,000","$10,000,000","$63,081,905","$141,481,905"
1,2,Josh Allen Quarterback | 2021-2028 (FA: 2029),25,6,"$258,034,000","$43,005,667","$16,500,000","$100,038,596","$150,000,000"
2,3,Jalen Hurts Quarterback | 2023-2028 (FA: 2029),24,5,"$255,000,000","$51,000,000","$23,294,000","$110,000,000","$179,300,000"
3,4,Russell Wilson Quarterback | 2022-2028 (FA: 2...,33,5,"$242,588,236","$48,517,647","$50,000,000","$124,000,000","$161,000,000"
4,5,Kyler Murray Quarterback | 2022-2028 (FA: 2029),24,5,"$230,500,000","$46,100,000","$29,035,000","$103,300,000","$159,797,000"
...,...,...,...,...,...,...,...,...,...
295,296,Luke Fortner Center | 2022-2025 (FA: 2026),24,4,"$5,500,065","$1,375,016","$1,180,048","$1,180,048","$1,180,048"
296,297,Joshua Ezeudu Guard | 2022-2025 (FA: 2026),22,4,"$5,485,524","$1,371,381","$1,169,472","$1,169,472","$1,169,472"
297,298,Denzel Mims Wide Receiver | 2020-2023 (FA: 2024),22,4,"$5,433,700","$1,358,425","$1,511,784","$2,368,770","$2,368,770"
298,299,Velus Jones Wide Receiver | 2022-2025 (FA: 2026),25,4,"$5,405,928","$1,351,482","$1,111,584","$1,111,584","$1,111,584"
299,300,Jelani Woods Tight End | 2022-2025 (FA: 2026),23,4,"$5,372,473","$1,343,118","$1,087,252","$1,087,252","$1,087,252"

In [48]:
# Get y - actual values from the next year (we do not have 2023 but could get them) - we will eventually need them?
QB_data = df[df["Pos"] == "QB"]

# Get the list of all column names from headers
qb_column_headers = list(QB_data.columns.values)
# print("The Column Header :", qb_column_headers)

qb_drop_columns = ['Tgt', 'Rec', 'Receiving_Yds', 'Receiving_Td', 'Receiving_1st', 'Return_Yds', 'Return_Td', '2PT',]
QB_data = QB_data.drop(qb_drop_columns, axis=1)
# QB_data

In [68]:
from fantasy_football import Fantasy

football = Fantasy()
football.addContracts(QB_data, player_contracts)

             Player Pos Team  GP  Comp  Inc  Passing_Yds  Passing_Td  Int  \
0          J. Allen  QB  Buf  17   409  237         4407          36   15
1        J. Herbert  QB  LAC  17   443  229         5014          38   15
2        P. Mahomes  QB   KC  17   436  222         4839          37   13
3          T. Brady  QB   TB  17   485  234         5316          43   12
4         J. Burrow  QB  Cin  16   366  154         4611          34   14
5       M. Stafford  QB  LAR  17   404  197         4886          41   17
6       D. Prescott  QB  Dal  16   410  186         4449          37   10
7        A. Rodgers  QB   GB  16   366  165         4115          37    4
8      R. Tannehill  QB  Ten  17   357  174         3734          21   14
9           D. Carr  QB   LV  17   428  198         4804          23   14
10         J. Hurts  QB  Phi  15   265  167         3144          16    9
11        K. Murray  QB  Ari  14   333  148         3787          24   10
12       K. Cousins  QB  Min  16   372  189         4221          33    7
13          M. Ryan  QB  Ind  17   375  185         3968          20   12
14       L. Jackson  QB  Bal  12   246  136         2882          16   13
15         C. Wentz  QB  Was  17   322  194         3563          27    7
16      T. Heinicke  QB  Was  16   321  173         3419          20   15
17      T. Lawrence  QB  Jax  17   359  243         3641          12   17
18         M. Jones  QB   NE  17   352  169         3801          22   13
19     J. Garoppolo  QB   SF  15   301  140         3810          20   12
20        R. Wilson  QB  Den  14   259  141         3113          25    6
21      B. Mayfield  QB  Car  14   253  165         3010          17   13
22          J. Goff  QB  Det  14   332  162         3245          19    8
23   T. Bridgewater  QB  Mia  14   285  141         3052          18    7
25        Z. Wilson  QB  NYJ  13   213  170         2334           9   11
26       S. Darnold  QB  Car  12   243  163         2527           9   13
27    T. Tagovailoa  QB  Mia  13   263  125         2653          16   10
28         D. Mills  QB  Hou  13   263  131         2664          16   10
29         D. Jones  QB  NYG  11   232  129         2428          10    7
32        J. Fields  QB  Chi  12   159  111         1870           7   10
50        A. Dalton  QB   NO   8   149   87         1515           8    9
58       J. Winston  QB   NO   7    95   66         1170          14    3
60       T. Hill NO  QB    -  12    78   56          978           4    5
61       T. Huntley  QB  Bal   7   122   66         1081           3    4
64      J. Brissett  QB  Cle  11   141   84         1283           5    4
84       T. Siemian  QB  Chi   6   108   80         1154          11    3
87        T. Taylor  QB  NYG   6    91   59          966           5    5
134        G. Smith  QB  Sea   4    65   30          702           5    1
148        M. White  QB  NYJ   4    88   44          953           5    8
150         D. Lock  QB  Sea   6    67   44          787           2    2
157        T. Lance  QB   SF   6    41   30          603           5    2
173        C. McCoy  QB  Ari   8    74   25          740           3    1
180      J. Johnson  QB  Den   4    57   28          638           5    2
213       C. Keenum  QB  Buf   7    47   25          462           3    1
214   G. Minshew II  QB  Phi   4    41   19          439           4    1
243        T. Boyle  QB  Det   5    61   33          526           3    6
254       P. Walker  QB  Car   5    36   30          362           1    3
256         J. Love  QB   GB   6    36   26          411           2    3
267         C. Rush  QB  Dal   5    30   17          422           3    1
292       J. Flacco  QB  NYJ   2    27   15          338           3    0
300        N. Foles  QB  Ind   1    24   11          250           1    0
309      M. Rudolph  QB  Pit   2    35   23          277           1    1
331        B. Allen  QB  Cin   6    17   17          149           2    0
334         I. Book  QB   NO   1    12    8          135           0    2
336      S. Mannion  QB  Min   1    22   14          189           1    0
373      G. Gilbert  QB   LV   1    20   11          194           0    0

     Pic6  Sks  Passing_1st  Att  Rushing_Yds  Rushing_Td  Rushing_1st  Total  \
0       0   26          234  122          763           6           54      8
1       3   31          256   63          302           3           28      1
2       1   28          260   66          381           2           25      9
3       2   22          269   28           81           2           14      4
4       2   51          202   40          118           2           14      5
5       4   30          233   32           43           0            8      5
6       1   30          227   48          146           1            7     14
7       0   30          213   33          101           3           10      3
8       0   47          192   55          270           7           33     10
9       2   40          217   40          108           0            9     13
10      1   26          143  139          784          10           56      9
11      1   31          172   88          423           5           25     13
12      0   28          192   29          115           1            8     12
13      2   40          195   40           82           1            9     11
14      1   38          135  133          767           2           48      6
15      1   32          165   57          215           1           21      8
16      1   38          167   60          313           1           20      7
17      1   32          177   73          334           2           22      9
18      3   28          177   44          129           0           22      7
19      0   29          172   38           51           3           15      8
20      0   33          135   43          183           2           17      6
21      0   43          143   37          134           1           12      6
22      1   35          162   17           87           0            4      9
23      1   31          146   30          106           2           16      1
25      0   44          112   29          185           4           10      5
26      1   35          123   48          222           5           21      9
27      1   20          137   42          128           3           13      9
28      0   31          118   18           44           0            5      5
29      0   22          116   62          298           2           16      7
32      1   36           83   72          420           2           22     12
50      1   18           83   16           76           0            2      1
58      0   11           56   32          166           1           17      2
60      1    9           43   70          374           5           26      2
61      0   18           55   47          294           2           22      4
64      0   19           69   19           70           1            9      6
84      1    9           61    9           20           1            2      3
87      0   13           44   19          151           3            7      3
134     0   13           31    9           42           1            3      1
148     0    4           49    5           -1           0            2      0
150     0    9           32   10           53           2            5      2
157     0    4           27   38          168           1            8      0
173     0    6           39   22           37           0            6      4
180     0    3           39    9           28           0            1      2
213     0    5           25   12           22           0            6      1
214     0    5           24    9           21           0            2      1
243     0    0           28    2           13           0            1      1
254     0    7           19    7           13           0            2      3
256     0    3           22   12           27           0            1      3
267     0    3           18    9           -8           0            0      1
292     0    2           14    2            3           0            1      1
300     0    4           14    4            8           0            1      1
309     0    0           16    5           53           0            3      0
331     0    4            5    7           -1           0            1      1
334     1    8            5    3            6           0            1      0
336     0    2            8    2           14           0            2      0
373     0    2            8    0            0           0            0      1

     Lost
0       3
1       1
2       4
3       3
4       2
5       2
6       6
7       0
8       4
9       5
10      2
11      0
12      2
13      4
14      3
15      5
16      2
17      5
18      3
19      3
20      1
21      3
22      6
23      1
25      1
26      4
27      1
28      1
29      3
32      5
50      1
58      1
60      0
61      3
64      3
84      1
87      0
134     1
148     0
150     1
157     0
173     1
180     0
213     1
214     0
243     0
254     1
256     1
267     1
292     1
300     0
309     0
331     0
334     0
336     0
373     0

AttributeError: 'DataFrame' object has no attribute 'rows'

In [24]:
RB_data = df[df["Pos"] == "RB"]

rb_drop_columns = [ 'Comp', 'Inc', 'Passing_Yds', 'Passing_Td', 'Int', 'Pic6', 'Sks', 'Passing_1st']
RB_data = RB_data.drop(rb_drop_columns, axis=1)
# RB_data

In [23]:
WR_data = df[df["Pos"] == "WR"]

wr_drop_columns = ['Comp', 'Inc', 'Passing_Yds', 'Passing_Td', 'Int', 'Pic6', 'Sks', 'Passing_1st']
WR_data = WR_data.drop(rb_drop_columns, axis=1)
# WR_data

In [25]:
TE_data = df[df["Pos"] == "TE"]

te_drop_columns = ['Comp', 'Inc', 'Passing_Yds', 'Passing_Td', 'Int', 'Pic6', 'Sks', 'Passing_1st', 'Return_Yds', 'Return_Td']
TE_data = TE_data.drop(te_drop_columns, axis=1)
TE_data

,Player,Pos,Team,GP,Att,Rushing_Yds,Rushing_Td,Rushing_1st,Tgt,Rec,Receiving_Yds,Receiving_Td,Receiving_1st,2PT,Total,Lost
45,M. Andrews,TE,Bal,17,1,0,0,0,153,107,1361,9,75,2,1,0
62,T. Kelce,TE,KC,16,2,3,1,1,134,92,1125,9,63,0,1,1
96,D. Schultz,TE,Dal,17,0,0,0,0,104,78,808,8,43,1,0,0
98,G. Kittle,TE,SF,14,3,20,0,0,94,71,910,6,42,0,2,1
111,K. Pitts,TE,Atl,17,0,0,0,0,110,68,1026,1,43,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,J. Akins,TE,NYG,13,1,3,0,1,33,24,214,0,11,0,2,2
356,Z. Gentry,TE,Pit,17,0,0,0,0,25,19,167,0,11,0,0,0
358,E. Ebron,TE,Pit,8,1,1,1,1,18,12,84,1,6,0,0,0
365,N. Vannett,TE,NO,7,0,0,0,0,15,9,133,1,7,0,0,0
367,I. Thomas,TE,Car,17,0,0,0,0,30,18,188,0,6,0,0,0