### QB using Fantasy Pros stats

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import pandas as pd
pd.options.display.max_columns = None # See all columns
import warnings
warnings.filterwarnings('ignore')
from fantasy_football import Fantasy

# Import fantasy class which will be used for building datasets
football = Fantasy()

The bulk of the preprocessing logic can be found in the source code.

##### To make our dataset, lets pull quarterbacks from the last ~10 years

In [12]:
QB_2021 = football.prepare_QB("2021")
QB_2020 = football.prepare_QB("2020")
QB_2019 = football.prepare_QB("2019")
QB_2018 = football.prepare_QB("2018")
QB_2017 = football.prepare_QB("2017")
QB_2016 = football.prepare_QB("2016")
QB_2015 = football.prepare_QB("2015")
QB_2014 = football.prepare_QB("2014")
QB_2013 = football.prepare_QB("2013")

In [ ]:
all_QB = [QB_2021, QB_2020, QB_2019, QB_2018,
          QB_2017, QB_2016, QB_2015, QB_2014, QB_2013]

QB = pd.concat(all_QB, ignore_index=True)
QB

In [147]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(QB_model_X, QB_model_Y,
                                   random_state=104, 
                                   test_size=0.5, 
                                   shuffle=True)

In [150]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
r_sq = model.score(X_train, y_train)
print(f"coefficient of determination: {r_sq}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

coefficient of determination: 1.0
intercept: [35.85644187]
slope: [[-0.11902523  0.31915763 -1.11499423  0.04393625  0.14968442 -0.32324969
  -0.23083102  0.40671704 -0.52550493  0.5387646  -0.05726771 -0.08276165
   0.13043264  0.3928148   0.05342105 -0.08291268 -1.37601774  0.06679482
   0.06679482  0.37299061  0.01838952  0.01341496 -0.04217031  0.01986795
  -0.00691065 -0.02222361 -0.00147843 -0.01187943]]

In [152]:
model.score(X_test, y_test)

-0.7414152292978844

In [207]:
values = model.coef_
predicted = []
for i in range(len(X_test)):
    inputs = X_test.take([i])
    inputs = inputs.loc[:, ~inputs.columns.isin(['Player', 'Name', 'Pos', 'Tm', 'points'])]
    inputs.columns
    combined = (inputs * values)
    f_points = round(combined.sum(axis = 1), 1)
    predicted.append(f_points)

y_test['predicted'] = predicted

y_test['difference'] = y_test['points'] - y_test['predicted']
y_test

    points                   predicted                   difference
25  270.96  25    353.5
dtype: float64   25   -82.54
dtype: float64
35  209.68  35    236.8
dtype: float64   35   -27.12
dtype: float64
16  307.34  16    308.6
dtype: float64    16   -1.26
dtype: float64
33  202.50  33    234.4
dtype: float64    33   -31.9
dtype: float64
15  234.92  15    248.4
dtype: float64   15   -13.48
dtype: float64
2   248.82   2    235.1
dtype: float64    2    13.72
dtype: float64
12  321.16  12    199.6
dtype: float64  12    121.56
dtype: float64
29  170.28  29    129.1
dtype: float64   29    41.18
dtype: float64
27  265.02  27    189.4
dtype: float64   27    75.62
dtype: float64
31  185.50   31    64.6
dtype: float64   31    120.9
dtype: float64
17  193.90  17    180.4
dtype: float64    17    13.5
dtype: float64