### QB using Fantasy Pros stats

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import pandas as pd
pd.options.display.max_columns = None # See all columns
import warnings
warnings.filterwarnings('ignore')
from fantasy_football import Fantasy

# Import fantasy class which will be used for building datasets
football = Fantasy()

The bulk of the preprocessing logic can be found in the source code.

##### To make our dataset, lets pull quarterbacks from the last ~10 years

In [12]:
QB_2021 = football.prepare_QB("2021")
QB_2020 = football.prepare_QB("2020")
QB_2019 = football.prepare_QB("2019")
QB_2018 = football.prepare_QB("2018")
QB_2017 = football.prepare_QB("2017")
QB_2016 = football.prepare_QB("2016")
QB_2015 = football.prepare_QB("2015")
QB_2014 = football.prepare_QB("2014")
QB_2013 = football.prepare_QB("2013")

In [4]:
QB_data = football.makeRegularData(df, "QB")

Next, we pull more advanced data for rushing and passing

In [40]:
# Passing advanced
passing_advanced = football.getAdvancedStats("passing", "2021")

Now we are ready to merge the datasets to incorporate the more advance statistics

In [145]:
QB1 = football.addAdvanced(QB_data, passing_advanced)
QB_merged = football.simpleMerge(QB1, y)
QB_final = football.fix_columns_QB(QB_merged)
#There were 2 columns called player
QB_final = QB_final.loc[:,~QB_final.columns.duplicated()]
#Trying to get rid of outliers
QB_final = QB_final[QB_final['GP'] != '-']
QB_final = QB_final[QB_final['GP'] >= 12]
QB_final = QB_final[QB_final['points'] >= 100]
#Splitting up the train and test data
QB_model_X = QB_final.loc[:, ~QB_final.columns.isin(['Player', 'Name', 'Pos', 'Tm', 'points'])]
QB_model_Y = QB_final.loc[:, QB_final.columns.isin(['points'])]

In [146]:
QB_final

,Player,Pos,Tm,GP,Comp,Inc,Passing_Yds,Passing_Td,Int,Pic6,...,Cmp,Yds,IAY,IAY/PA,CAY,CAY/Cmp,CAY/PA,YAC,YAC/Cmp,points
0,L. Jackson,QB,Bal,15,242,134,2757,26,9,1,...,246.0,2882.0,3543.0,9.3,1734.0,7.0,4.5,1148.0,4.7,252.98
1,J. Allen,QB,Buf,16,396,176,4544,37,10,0,...,409.0,4407.0,5304.0,8.2,2664.0,6.5,4.1,1743.0,4.3,417.58
2,R. Wilson,QB,Sea,16,384,174,4212,40,13,1,...,259.0,3113.0,3956.0,9.9,1730.0,6.7,4.3,1383.0,5.3,248.82
3,K. Murray,QB,Ari,16,375,183,3971,26,12,1,...,333.0,3787.0,3847.0,8.0,1986.0,6.0,4.1,1801.0,5.4,310.48
4,P. Mahomes,QB,KC,15,390,198,4740,38,6,0,...,436.0,4839.0,4829.0,7.3,2140.0,4.9,3.3,2699.0,6.2,374.66
6,J. Herbert,QB,LAC,15,396,199,4336,31,10,0,...,443.0,5014.0,5076.0,7.6,2627.0,5.9,3.9,2387.0,5.4,395.76
7,T. Brady,QB,TB,16,401,209,4633,40,12,2,...,485.0,5316.0,5791.0,8.1,2762.0,5.7,3.8,2554.0,5.3,386.74
8,A. Rodgers,QB,GB,16,372,154,4299,48,5,1,...,366.0,4115.0,4099.0,7.7,1947.0,5.3,3.7,2168.0,5.9,336.30
10,R. Tannehill,QB,Ten,16,315,166,3819,33,7,0,...,357.0,3734.0,3959.0,7.5,1958.0,5.5,3.7,1776.0,5.0,282.36
11,M. Stafford,QB,LAR,16,339,189,4084,26,10,3,...,404.0,4886.0,5092.0,8.5,2760.0,6.8,4.6,2126.0,5.3,346.74
12,J. Hurts,QB,Phi,15,77,71,1061,6,4,0,...,265.0,3144.0,3867.0,9.0,1681.0,6.3,3.9,1463.0,5.5,321.16
15,M. Ryan,QB,Atl,16,407,219,4581,26,11,0,...,375.0,3968.0,3986.0,7.1,2244.0,6.0,4.0,1724.0,4.6,234.92
16,K. Cousins,QB,Min,16,349,167,4265,35,13,1,...,372.0,4221.0,4576.0,8.2,2415.0,6.5,4.3,1806.0,4.9,307.34
17,B. Mayfield,QB,Cle,16,305,181,3563,26,8,1,...,253.0,3010.0,3610.0,8.6,1632.0,6.5,3.9,1378.0,5.4,193.90
23,D. Jones,QB,NYG,14,280,168,2943,11,10,0,...,232.0,2428.0,2616.0,7.2,1334.0,5.8,3.7,1094.0,4.7,173.52
25,D. Carr,QB,LV,16,348,169,4103,27,9,2,...,428.0,4804.0,5087.0,8.1,2525.0,5.9,4.0,2279.0,5.3,270.96
27,C. Wentz,QB,Ind,12,251,186,2620,16,15,1,...,322.0,3563.0,3941.0,7.6,1913.0,5.9,3.7,1650.0,5.1,265.02
29,S. Darnold,QB,Car,12,217,147,2208,9,11,2,...,243.0,2527.0,2947.0,7.3,1151.0,4.7,2.8,1376.0,5.7,170.28
31,T. Hill,QB,NO,16,88,33,928,4,2,0,...,78.0,978.0,982.0,7.3,457.0,5.9,3.4,521.0,6.7,185.50
33,J. Goff,QB,Det,15,370,182,3952,20,13,1,...,332.0,3245.0,3150.0,6.4,1490.0,4.5,3.0,1755.0,5.3,202.50
35,T. Bridgewater,QB,Den,15,340,152,3733,15,11,0,...,285.0,3052.0,3417.0,8.0,1658.0,5.8,3.9,1394.0,4.9,209.68

In [147]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(QB_model_X, QB_model_Y,
                                   random_state=104, 
                                   test_size=0.5, 
                                   shuffle=True)

In [150]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
r_sq = model.score(X_train, y_train)
print(f"coefficient of determination: {r_sq}")
print(f"intercept: {model.intercept_}")
print(f"slope: {model.coef_}")

coefficient of determination: 1.0
intercept: [35.85644187]
slope: [[-0.11902523  0.31915763 -1.11499423  0.04393625  0.14968442 -0.32324969
  -0.23083102  0.40671704 -0.52550493  0.5387646  -0.05726771 -0.08276165
   0.13043264  0.3928148   0.05342105 -0.08291268 -1.37601774  0.06679482
   0.06679482  0.37299061  0.01838952  0.01341496 -0.04217031  0.01986795
  -0.00691065 -0.02222361 -0.00147843 -0.01187943]]

In [152]:
model.score(X_test, y_test)

-0.7414152292978844

In [207]:
values = model.coef_
predicted = []
for i in range(len(X_test)):
    inputs = X_test.take([i])
    inputs = inputs.loc[:, ~inputs.columns.isin(['Player', 'Name', 'Pos', 'Tm', 'points'])]
    inputs.columns
    combined = (inputs * values)
    f_points = round(combined.sum(axis = 1), 1)
    predicted.append(f_points)

y_test['predicted'] = predicted

y_test['difference'] = y_test['points'] - y_test['predicted']
y_test

    points                   predicted                   difference
25  270.96  25    353.5
dtype: float64   25   -82.54
dtype: float64
35  209.68  35    236.8
dtype: float64   35   -27.12
dtype: float64
16  307.34  16    308.6
dtype: float64    16   -1.26
dtype: float64
33  202.50  33    234.4
dtype: float64    33   -31.9
dtype: float64
15  234.92  15    248.4
dtype: float64   15   -13.48
dtype: float64
2   248.82   2    235.1
dtype: float64    2    13.72
dtype: float64
12  321.16  12    199.6
dtype: float64  12    121.56
dtype: float64
29  170.28  29    129.1
dtype: float64   29    41.18
dtype: float64
27  265.02  27    189.4
dtype: float64   27    75.62
dtype: float64
31  185.50   31    64.6
dtype: float64   31    120.9
dtype: float64
17  193.90  17    180.4
dtype: float64    17    13.5
dtype: float64

### CONTRACTS AND OTHER DATA (not yet completed)

We are not using the player contracts yet but here is where we scrape that data

In [7]:
all_QB = [QB_2021, QB_2020, QB_2019, QB_2018,
          QB_2017, QB_2016, QB_2015, QB_2014, QB_2013]

QB = pd.concat(all_QB, ignore_index=True)
QB

,CMP,Passing_att,PCT,Passing_Yds,Y/A,Passing_Td,INT,SACKS,Rushing_att,Rushing_Yds,Rushing_Td,FPTS/G,y,AIR/A,10+ YDS,20+ YDS,30+ YDS,40+ YDS,50+ YDS,PKT TIME,KNCK,HRRY,BLITZ,POOR,DROP,RZ ATT,RTG
0,24.058824,38.000000,63.3,259.235294,6.8,2.117647,0.882353,1.529412,7.176471,44.882353,0.352941,24.6,25.2,4.5,10.647059,3.000000,0.941176,0.470588,0.176471,2.4,3.705882,5.647059,10.705882,6.352941,2.058824,7.235294,5.411765
1,26.058824,39.529412,65.9,294.941176,7.5,2.235294,0.882353,1.823529,3.705882,17.764706,0.176471,23.3,24.3,4.3,12.235294,3.058824,1.294118,0.882353,0.176471,2.4,3.647059,2.941176,9.058824,5.588235,2.235294,6.117647,5.823529
2,28.529412,42.294118,67.5,312.705882,7.4,2.529412,0.705882,1.294118,1.647059,4.764706,0.117647,22.7,25.6,4.3,12.058824,4.411765,1.352941,0.588235,0.235294,2.3,1.764706,1.764706,10.411765,7.941176,1.882353,7.058824,6.000000
3,25.647059,38.705882,66.3,284.000000,7.3,2.176471,0.764706,1.647059,3.882353,22.411765,0.117647,22.0,21.7,3.8,11.294118,3.411765,1.235294,0.647059,0.235294,2.4,3.411765,4.470588,6.588235,6.823529,1.823529,5.882353,5.882353
4,23.764706,35.352941,67.2,287.411765,8.1,2.411765,1.000000,1.764706,1.882353,2.529412,0.000000,20.4,18.5,5.0,10.235294,3.823529,1.647059,1.058824,0.588235,2.4,2.470588,1.882353,8.117647,6.529412,1.823529,6.588235,6.176471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,18.000000,30.600000,58.8,197.200000,6.4,1.100000,0.900000,2.800000,5.300000,18.600000,0.200000,13.4,11.5,3.8,7.400000,2.800000,1.000000,0.400000,0.000000,0.0,0.000000,0.000000,8.400000,0.000000,1.900000,2.100000,8.000000
277,21.900000,35.800000,61.2,231.000000,6.5,1.000000,1.400000,2.100000,0.500000,2.400000,0.000000,10.5,14.9,4.2,9.900000,2.600000,0.900000,0.300000,0.000000,0.0,0.000000,0.000000,12.300000,0.000000,1.200000,4.600000,7.200000
278,14.200000,24.200000,58.7,167.300000,6.9,0.800000,0.700000,2.100000,2.300000,6.400000,0.000000,8.5,10.1,4.1,6.600000,2.200000,0.700000,0.200000,0.200000,0.0,0.000000,0.000000,7.300000,0.000000,1.400000,3.400000,8.200000
279,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.2,1.5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
280,0.000000,0.062500,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.187500,-0.250000,0.000000,-0.0,0.3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000