## Running Backs

In [18]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [19]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from fantasy_football import Fantasy

# Import fantasy class which will be used for building datasets
football = Fantasy()

First, we pull 2022 offense data and clean it

In [20]:
df, y = Fantasy.read_data()

Offense_2020
Offense_Proj
Offense_Prior_Actuals
Offense_Proj

Split data by positional group

In [39]:
RB_data = football.makeRegularData(df, "RB")

RB_data

,Player,Pos,Tm,GP,Att,Rushing_Yds,Rushing_Td,Rushing_1st,Tgt,Rec,Receiving_Yds,Receiving_Td,Receiving_1st,Return_Yds,Return_Td,2PT,Total,Lost
4,N. Chubb,RB,Cle,12,190,1067,12,55,18,16,150,0,6,0,0,0,1,1
5,A. Jones,RB,GB,14,201,1104,9,52,63,47,355,2,15,0,0,0,2,0
7,J. Taylor,RB,Ind,15,232,1169,11,69,39,36,299,1,12,0,0,0,1,1
13,S. Barkley,RB,NYG,2,19,34,0,1,9,6,60,0,3,0,0,0,0,0
14,A. Ekeler,RB,LAC,10,116,530,1,26,65,54,403,2,20,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,K. Johnson,RB,Phi,16,52,181,2,9,26,19,187,1,11,0,0,0,1,1
292,J. Hawkins,RB,Ten,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
295,L. Perine,RB,NYJ,10,64,232,2,18,15,11,63,0,3,22,0,0,0,0
301,A. McFarland Jr.,RB,Pit,11,33,113,0,4,9,6,54,0,1,0,0,0,0,0
307,D. Dallas,RB,Sea,12,34,108,2,9,20,17,111,1,5,0,0,0,0,0

Next, we pull more advanced data for rushing and passing

In [27]:
# Passing advanced
rushing_advanced = football.getAdvancedStats("rushing", "2021")

In [34]:
rushing_advanced = rushing_advanced.head(120)
rushing_advanced

,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,YBC,YBC/Att,YAC,YAC/Att,BrkTkl,Att/Br
0,J. Taylor,IND,22,RB,17,17,332,1811,18,107,870,2.6,941,2.8,25,13.3
1,N. Harris,PIT,23,RB,17,17,307,1200,7,62,525,1.7,675,2.2,30,10.2
2,J. Mixon,CIN,25,RB,16,16,292,1205,13,60,662,2.3,543,1.9,20,14.6
3,A. Gibson,WAS,23,RB,16,14,258,1037,7,65,534,2.1,503,1.9,19,13.6
4,D. Cook,MIN,26,RB,13,13,249,1159,6,57,678,2.7,481,1.9,16,15.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,T. Williams,BAL,25,RB,13,3,35,185,1,7,98,2.8,87,2.5,1,35.0
116,E. Benjamin,ARI,22,RB,9,0,34,118,1,4,53,1.6,65,1.9,1,34.0
117,M. Brown,MIA,28,RB,7,3,33,125,1,6,70,2.1,55,1.7,3,11.0
118,C. Clement,DAL,27,RB,17,0,33,140,0,7,65,2.0,75,2.3,3,11.0
119,D. Dallas,SEA,23,RB,17,0,33,138,2,10,66,2.0,72,2.2,3,11.0

Now we are ready to merge the datasets to incorporate the more advance statistics

In [42]:
RB = football.addAdvanced(RB_data, rushing_advanced)
RB.columns

0        J. Taylor
1        N. Harris
2         J. Mixon
3        A. Gibson
4          D. Cook
          ...
115    T. Williams
116    E. Benjamin
117       M. Brown
118     C. Clement
119      D. Dallas
Name: Name, Length: 120, dtype: object
4              N. Chubb
5              A. Jones
7             J. Taylor
13           S. Barkley
14            A. Ekeler
             ...
284          K. Johnson
292          J. Hawkins
295           L. Perine
301    A. McFarland Jr.
307           D. Dallas
Name: Name, Length: 100, dtype: object

Index(['Player_x', 'Pos_x', 'Tm_x', 'GP', 'Att_x', 'Rushing_Yds', 'Rushing_Td',
       'Rushing_1st', 'Tgt', 'Rec', 'Receiving_Yds', 'Receiving_Td',
       'Receiving_1st', 'Return_Yds', 'Return_Td', '2PT', 'Total', 'Lost',
       'Name', 'Player_y', 'Tm_y', 'Age', 'Pos_y', 'G', 'GS', 'Att_y', 'Yds',
       'TD', '1D', 'YBC', 'YBC/Att', 'YAC', 'YAC/Att', 'BrkTkl', 'Att/Br'],
      dtype='object')

In [43]:
RB

,Player_x,Pos_x,Tm_x,GP,Att_x,Rushing_Yds,Rushing_Td,Rushing_1st,Tgt,Rec,...,Att_y,Yds,TD,1D,YBC,YBC/Att,YAC,YAC/Att,BrkTkl,Att/Br
0,N. Chubb,RB,Cle,12,190,1067,12,55,18,16,...,228,1259,8,61,567,2.5,692,3.0,23,9.9
1,A. Jones,RB,GB,14,201,1104,9,52,63,47,...,171,799,4,37,409,2.4,390,2.3,12,14.3
2,J. Taylor,RB,Ind,15,232,1169,11,69,39,36,...,332,1811,18,107,870,2.6,941,2.8,25,13.3
3,S. Barkley,RB,NYG,2,19,34,0,1,9,6,...,162,593,2,27,314,1.9,279,1.7,4,40.5
4,A. Ekeler,RB,LAC,10,116,530,1,26,65,54,...,206,911,12,53,477,2.3,434,2.1,13,15.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,K. Johnson,RB,Phi,16,52,181,2,9,26,19,...,0,0,0,0,0,0,0,0,0,0
102,J. Hawkins,RB,Ten,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
103,L. Perine,RB,NYJ,10,64,232,2,18,15,11,...,0,0,0,0,0,0,0,0,0,0
104,A. McFarland Jr.,RB,Pit,11,33,113,0,4,9,6,...,0,0,0,0,0,0,0,0,0,0
105,D. Dallas,RB,Sea,12,34,108,2,9,20,17,...,33,138,2,10,66,2.0,72,2.2,3,11.0

In [32]:
# url = "https://www.nfl.com/stats/team-stats/defense/passing/2020/reg/all"
# table = pd.read_html(url)[0]
# table

### CONTRACTS AND OTHER DATA (not yet completed)

We are not using the player contracts yet but here is where we scrape that data

In [25]:
table_contracts = pd.read_html('https://www.spotrac.com/nfl/contracts/sort-value/offense/all-time/free-agent-2021/limit-100/')

player_contracts = table_contracts[0]
player_contracts

,Rank,Player,Signed Age,Yrs,Value,AAV,Sign Bonus,G'teed @ Sign,Practical G'teed
0,1,Jay Cutler Quarterback | 2014-2020 (FA: 2021)...,30,7,"$126,700,000","$18,100,000",NaN,"$38,000,000","$54,000,000"
1,2,Cam Newton Quarterback | 2015-2020 (FA: 2021),26,5,"$103,800,000","$20,760,000","$22,500,000","$41,000,000","$60,000,000"
2,3,Andy Dalton Quarterback | 2014-2020 (FA: 2021...,26,6,"$96,000,000","$16,000,000","$12,000,000","$17,000,000","$17,000,000"
3,4,Kirk Cousins Quarterback | 2018-2020 (FA: 2021),29,3,"$84,000,000","$28,000,000","$3,000,000","$84,000,000","$84,000,000"
4,5,Ryan Tannehill Quarterback | 2015-2020 (FA: 2...,26,4,"$77,000,000","$19,250,000","$11,500,000","$21,500,000","$45,000,000"
...,...,...,...,...,...,...,...,...,...
95,96,Paxton Lynch Quarterback | 2016-2020 (FA: 202...,22,4,"$9,476,296","$2,369,074","$5,091,852","$7,884,074","$7,884,074"
96,97,Lee Smith Tight End | 2018-2020 (FA: 2021) O...,30,3,"$9,000,000","$3,000,000",NaN,"$3,000,000","$3,000,000"
97,97,Sammy Watkins Wide Receiver | 2020-2020 (FA: ...,26,1,"$9,000,000","$9,000,000","$1,000,000","$8,000,000","$8,000,000"
98,97,David Andrews Center | 2017-2020 (FA: 2021),24,3,"$9,000,000","$3,000,000","$1,600,000","$1,600,000","$1,600,000"
99,97,Donte Moncrief Wide Receiver | 2019-2020 (FA:...,25,2,"$9,000,000","$4,500,000","$3,500,000","$3,500,000","$3,500,000"