# Rookie Data

In [237]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [238]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from fantasy_football import Fantasy

# Import fantasy class which will be used for building datasets
football = Fantasy()

First, we pull in rookie's draft stats to see how highly they are valued and what team they will be playing for.

In [239]:
draft_data = football.getDraftData(year="2020")

draft_data

    Pick           Team            Player
0      1        Bengals        Joe Burrow
1      2  Football Team       Chase Young
2      3          Lions       Jeff Okudah
3      4         Giants     Andrew Thomas
4      5       Dolphins    Tua Tagovailoa
..   ...            ...               ...
256  251       Seahawks  Stephen Sullivan
257  252        Broncos   Tyrie Cleveland
258  253        Vikings       Kyle Hinton
259  254        Broncos     Derrek Tuszka
260  255         Giants       Tae Crowder

[261 rows x 3 columns]

Next, we all of the teams data from the year before to see what situation each rookie is going into.

In [240]:
team_data = football.getTeamStats(year="2019")

team_data.head()

,Team,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,Rate,1st,...,2-PT,3rd Att,3rd Md,4th Att,4th Md,Rec 1st,Rec 1st%,Rush 1st,Rush 1st%,Scrm Plys
0,49ers,478,331,69.2,8.4,4029,28,13,103.1,195,...,0,187,88,24,17,171,59.2,188,31.5,1064
1,Bears,580,371,64.0,6.2,3573,20,12,83.9,178,...,4,207,86,24,14,165,53.8,131,27.8,1016
2,Bengals,616,356,57.8,6.5,3994,18,16,76.2,191,...,1,217,90,17,9,244,63.9,81,19.8,1086
3,Bills,513,299,58.3,6.8,3476,21,12,82.8,162,...,2,195,67,15,2,147,46.7,75,19.0,937
4,Broncos,504,312,61.9,6.8,3401,16,10,84.1,162,...,1,193,84,25,13,203,57.2,112,25.8,1017

Finally, we merge these two dataframes.

In [241]:
rookie_stats = pd.merge(draft_data, team_data, on='Team')

rookie_stats

,Pick,Team,Player,Att,Cmp,Cmp %,Yds/Att,Pass Yds,TD,INT,...,2-PT,3rd Att,3rd Md,4th Att,4th Md,Rec 1st,Rec 1st%,Rush 1st,Rush 1st%,Scrm Plys
0,1,Bengals,Joe Burrow,616,356,57.8,6.5,3994,18,16,...,1,217,90,17,9,244,63.9,81,19.8,1086
1,33,Bengals,Tee Higgins,616,356,57.8,6.5,3994,18,16,...,1,217,90,17,9,244,63.9,81,19.8,1086
2,65,Bengals,Logan Wilson,616,356,57.8,6.5,3994,18,16,...,1,217,90,17,9,244,63.9,81,19.8,1086
3,107,Bengals,Akeem Davis-Gaither,616,356,57.8,6.5,3994,18,16,...,1,217,90,17,9,244,63.9,81,19.8,1086
4,147,Bengals,Khalid Kareem,616,356,57.8,6.5,3994,18,16,...,1,217,90,17,9,244,63.9,81,19.8,1086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,128,Bills,Gabriel Davis,513,299,58.3,6.8,3476,21,12,...,2,195,67,15,2,147,46.7,75,19.0,937
243,167,Bills,Jake Fromm,513,299,58.3,6.8,3476,21,12,...,2,195,67,15,2,147,46.7,75,19.0,937
244,188,Bills,Tyler Bass,513,299,58.3,6.8,3476,21,12,...,2,195,67,15,2,147,46.7,75,19.0,937
245,207,Bills,Isaiah Hodgins,513,299,58.3,6.8,3476,21,12,...,2,195,67,15,2,147,46.7,75,19.0,937
246,239,Bills,Dane Jackson,513,299,58.3,6.8,3476,21,12,...,2,195,67,15,2,147,46.7,75,19.0,937