# Rookie Data

In [146]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [147]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from fantasy_football import Fantasy

# Import fantasy class which will be used for building datasets
football = Fantasy()

In [78]:
rookie = football.getYearlyRookieData(2020)

In [148]:
# Get points per game for labels


QB_rookie_data = rookie[rookie["Pos"] == "QB"].reset_index(drop=True)
RB_rookie_data = rookie[rookie["Pos"] == "RB"].reset_index(drop=True)
WR_rookie_data = rookie[rookie["Pos"] == "WR"].reset_index(drop=True)
TE_rookie_data = rookie[rookie["Pos"] == "TE"].reset_index(drop=True)

# Not sure if we should include this since
# kickers aren't valuble and rarely any get
# drafted
#K_rookie_data = rookie[rookie["Pos"] == "K"]

QB_rookie_data.head()

,Pick,Team,Player,Pos,passing_Att,passing_Cmp,passing_Cmp %,passing_Yds/Att,passing_Pass Yds,passing_TD,...,downs_3rd Att,downs_3rd Md,downs_4th Att,downs_4th Md,downs_Rec 1st,downs_Rec 1st%,downs_Rush 1st,downs_Rush 1st%,downs_Scrm Plys,AVG
0,1,49ers,Alex Smith,QB,561,325,57.9,6.2,3455,16,...,219,88,12,6,172,53.1,93,21.3,1004,3.0
1,24,Packers,Aaron Rodgers,QB,598,382,63.9,7.6,4550,36,...,241,84,12,5,152,50.8,86,18.1,1047,0.4
2,148,Packers,Ingle Martin,QB,626,383,61.2,6.3,3964,20,...,239,91,16,5,224,53.5,58,16.1,1075,-0.5
3,193,Bengals,Reggie McNeal,QB,538,362,67.3,7.3,3935,32,...,220,72,12,3,182,54.0,73,20.0,1027,0.4
4,3,Falcons,Matt Ryan,QB,555,336,60.5,6.4,3573,18,...,219,91,17,6,167,55.3,119,25.4,1041,12.4

In [153]:
features, labels = football.prepRookieData(WR_rookie_data, standardize= True)

WR_best_feats = football.getBestFeatures(features, labels, numFeatures=5, numFolds=3)

print(WR_best_feats["mean mse"])

WR_features = features[WR_best_feats["features"]]

WR_features.head()

7.874367828691651

       Pick  passing_20+  rushing_20+  receiving_Rec FUM  downs_Scrm Plys
0 -1.330440    -0.505987     0.448670           0.578498        -0.626478
1  1.871814    -0.979143     1.233842           0.578498        -0.499489
2 -0.055469    -0.222094     0.710394          -0.471368         0.160852
3  0.211386    -0.127462     0.972118          -0.471368        -1.185229
4  1.338105    -0.600618    -0.598227          -0.471368        -0.296307

In [150]:
features, labels = football.prepRookieData(TE_rookie_data, standardize= True)

TE_best_feats = football.getBestFeatures(features, labels, numFeatures=5, numFolds=3)

print(TE_best_feats["mean mse"])

TE_features = features[TE_best_feats["features"]]

TE_features.head()

3.471426604264483

       Pick  passing_INT  rushing_YPC  downs_4th Md  downs_Rec 1st%
0 -0.612395     0.873172     0.208290     -0.041593        1.023814
1 -1.638576     1.475959    -0.859527     -0.347866        1.723847
2 -1.291253    -1.537974    -0.859527      1.796050       -0.576262
3  0.887408     1.475959    -0.645964     -0.347866       -1.201291
4 -1.243891     1.676888    -0.218837     -0.347866       -0.201244

In [151]:
features, labels = football.prepRookieData(QB_rookie_data, standardize= True)

QB_best_feats = football.getBestFeatures(features, labels, numFeatures=5, numFolds=3)

print(QB_best_feats["mean mse"])

QB_features = features[QB_best_feats["features"]]

QB_features.head()

33.58744514041856

       Pick  passing_TD  passing_Rate  passing_Sck  passing_SckY
0 -0.956171   -0.762030     -1.107087     1.083541      0.884419
1 -0.642640    2.222144      1.094258    -2.267877     -2.122262
2  1.047698   -0.165195     -1.088666    -1.121339     -0.784427
3  1.661128    1.625309      1.444263    -1.650510     -1.929172
4 -0.928907   -0.463613     -0.278129     0.642565      0.305151

In [152]:
features, labels = football.prepRookieData(RB_rookie_data, standardize= True)

RB_best_feats = football.getBestFeatures(features, labels, numFeatures=5, numFolds=3)

print(RB_best_feats["mean mse"])

RB_features = features[RB_best_feats["features"]]

RB_features.head()

11.222411825926992

       Pick  passing_Yds/Att  passing_SckY  receiving_TD  receiving_Rec FUM
0 -0.760314        -1.492481      0.838394     -0.070870           1.166900
1 -1.662004         0.270742      0.552171      0.665085           0.046676
2 -0.053990         2.033965     -0.320808      1.106657           0.046676
3  1.283517        -0.610870      0.280260     -0.659633           0.606788
4  1.929729         1.593159     -0.149074     -1.395588          -1.073548